<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Icon List Bouncer Animation</title>

  <!-- Material Symbols Icon Font -->
  <link
    rel="stylesheet"
    href=
    "icon.css"
  />

  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <main>

    <section 
      class="agent-first-section"
      data-agent-first-section
    >

      <ul 
        class="icon-list"
        data-bouncer-list
      >
      <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
              <img src="color-icons\amazonwebservices-original-wordmark.svg" alt="AWS" />
        </li>

        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
             <img src="color-icons\nodejs-icon-svgrepo-com.svg" alt="Node.js" />
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\prisma-original.svg" alt="Prisma" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\mongodb-original.svg" alt="MongoDB" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
           <img src="color-icons\python-original.svg" alt="Python">
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\nextjs-original.svg" alt="Next.js" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\javascript-original.svg" alt="JavaScript" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
           <img src="color-icons\typescript-original.svg" alt="TypeScript" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\react-original.svg" alt="React" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\gsap (1).svg" alt="GSAP" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\postgresql-original.svg" alt="PostgreSQL" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
            <img src="color-icons\threejs-original.svg" alt="Three.js" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
             <img src="color-icons\express-original.svg" alt="Express" />
          </div>
        </li>
        <li class="grid-col" data-bouncer>
          <div class="bouncer symbol" translate="no">
             <img src="color-icons\git-original.svg" alt="Git" />
          </div>
        </li>

      </ul>

    </section>

  </main>


  <!-- GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

  <!-- ScrollTrigger -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

  <script src="icon.js"></script>

</body>
</html>